### Домашнее задание к лекции "Введение в типы данных и циклы. Часть 1"

### Задание 1

In [23]:
x1 = 'watermelon'
while len(x1) > 2:
    x1 = x1[1:-1]
    if len(x1) <= 2:
        print(x1)

rm

### Задание 2

In [62]:
y2 = 1
x2 = ''
z2 = 0

while y2 != 0:
    x2 = input('Введите число: ')
    y2 = int(x2)
    z2 = z2 + y2
print('Результат: ', z2)

Введите число: 67
Введите число: 6578
Введите число: 1
Введите число: 0
Результат:  6646

### Задание 3

In [164]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

sorted_b3 = sorted(boys)
sorted_g3 = sorted(girls)
z3 = len(boys)
num3 = 0


if len(boys) == len(girls):
    print('Идеальные пары:')

    coupes = zip (sorted_b3, sorted_g3)
    w3 = (list(coupes))

    while z3 > 0:
        print(w3[num3][0], 'и', (w3[num3][1]))
        num3 += 1
        z3 -= 1
        
else:
    print('Внимание! Кто-то может остаться без пары!')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

### Задание 4

In [1]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]

country4 = ''
fahr4 = 0
cels4 = 0
list4 = len(countries_temperature)
ind4 = 0
float4 = 0

print('Средняя температура в странах: ')

for list4 in countries_temperature:
    float4 = len(countries_temperature[ind4][1])
    country4 = countries_temperature[ind4][0]
    fahr4 = sum(countries_temperature[ind4][1]) / float4 # чтобы понять, что нужно делить здесь, а не в print-е, ушли ГОДЫ
    cels4 = (fahr4 - 32) / 1.8
    ind4 += 1
    print(country4, '-', round(cels4, 1), 'C')

Средняя температура в странах:
Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

### Задание 5

In [17]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]

comma5 = 0
ind5 = 0
floatstr = ''
float_one = 0
float_two = 0
user_name = 0
user_count = 0
page_count = 0
solution5 = 0

list5 = len(stream)
for list5 in stream:
    floatstr = stream[ind5] # берем одну строку из списка, копируем
    float_one = floatstr.split(',')    
    float_two = float_one[1]
    if user_name != float_two:
        user_count += 1 # нарекаю тебя счетчиком уникальных пользователей
    else:
        pass
    user_name = float_two
    page_count = page_count + int(float_one[2])
    ind5 += 1
solution5 = round((page_count / user_count), 2)
print ('Среднее количество просмотров на уникального пользователя:', solution5)

Среднее количество просмотров на уникального пользователя: 23.25

### Задание 6

In [3]:
num6 = ''
list6 = ''
count6 = 0
float6 = 0
schetchik = 0
float_num6 = 0
sort6 = 0
another_count6 = 0
reversed6 = ''
newlist6 = ''

numb6 = str(input("Введите числа, разделённые пробелом: "))
list6 = numb6.split(' ')
count6 = len(list6)
sort6 = sorted(list6, reverse = True) 
# список по порядку, одинаковые будут идти подряд, но в обратном порядке, чтобы начать не с 0
for count6 in sort6:
    float6 = sort6[schetchik] # переменная для проверки уникальности
    schetchik += 1
    if float_num6 != float6:
        pass
    else:
         if newlist6.count(float6) == 0:
                newlist6 = newlist6 + ' ' + float6
    float_num6 = float6
print('Числа, которые набраны более одного раза: ')
print(newlist6)

Введите числа, разделённые пробелом: 16 16
Числа, которые набраны более одного раза:
 16